autopep8
awscli
boto
celery
crypto
curljson
dephell
docker-compose
fakeredis
fastapi
figlet
google-api-core
google-api-python-client
google-auth-httplib2
graphviz
gunicorn
html5lib
httpie
imap-tools
ipdb
keyring
lookatme
moto
moz-sql-parser
neovim
partd
ped
pendulum
pgcli
pip-chill
pipdeptree
pipx
pook
pre-commit
premailer
pudb
pygls
pylint
pyls
pyls-flake8
pyppeteer
pyright
pysnooper
pytest
python-gnupg
python-language-server
snowflake-sqlalchemy
sqlite-web
tencentcloud-sdk-python
tldextract
uvicorn
vim-vint
visidata
watchdog
xlrd
yapf
you-get
youtube-dl
