aiofiles==0.7.0
ansible==2.9.12
atomicwrites==1.4.0
autopep8==1.5.5
awscli==1.19.93
beautifulsoup4==4.9.3
boto==2.49.0
bowler==0.9.0
cacheout==0.11.2
celery==5.1.2
cowsay==2.0.3
crypto==1.4.1
curljson==0.9.9
dataprofiler==0.4.5
deepdiff==5.0.2
dephell==0.8.3
distributed==1.28.1
django==3.1
docker-compose==1.27.4
docstring-to-markdown==0.9
dotdict==0.1
elasticsearch==7.9.1
expiringdict==1.2.1
fabric==2.6.0
factory-boy==3.0.1
fakeredis==1.4.2
fastapi==0.61.0
figlet==0.0.1
gevent==20.6.2
google-api-core==1.31.2
google-api-python-client==1.4.0
google-auth-httplib2==0.1.0
graphviz==0.17
gunicorn==20.0.4
html5lib==1.1
httpie==2.2.0
imap-tools==0.40.0
ipdb==0.12
jsoncomparison==1.0.1
keras==2.4.3
keyring==23.0.1
lightgbm==3.0.0
lookatme.contrib.render==1.1.0
mocket==3.8.7
moto==2.2.6
moz-sql-parser==3.32.20026
neovim==0.3.1
partd==1.2.0
ped==2.1.0
pendulum==2.0.4
pep8==1.7.1
pgcli==3.0.0
pip-chill==1.0.1
pipdeptree==2.2.0
pipx==0.15.4.0
pook==0.2.8
pre-commit==1.14.4
premailer==3.8.0
proto-plus==1.19.0
psycopg2-binary==2.8.6
pudb==2019.2
pycowsay==0.0.0.1
pydocstyle==6.1.1
pygls==0.11.1
pylint==2.10.2
pyls-flake8==0.4.0
pyls==0.1.6
pyppeteer==0.2.5
pyre-check==0.9.6
pyright==0.0.3
pysnooper==1.0.0
pytest-xdist==2.2.1
python-gnupg==0.4.7
python-language-server==0.36.2
retry==0.9.2
rope==0.19.0
seaborn==0.11.0
selenium==3.141.0
sklearn==0.0
snowflake-sqlalchemy==1.2.3
sphinx-autodoc-typehints==1.11.0
sqlite-web==0.3.8
tencentcloud-sdk-python==3.0.242
tensorflow==2.5.0
tldextract==3.1.2
uvicorn==0.11.8
vim-vint==0.3.21
visidata==2.6.1
watchdog==2.1.6
xgboost==1.2.0
xlrd==1.2.0
yapf==0.31.0
you-get==0.4.1456
youtube-dl==2021.1.16
