# pip-chill --no-version > python/requirements-mac.txt
#-
#-re-commit

aasoautils3
aiohttp
aplus
astropy
authlib
autopep8
awscli
bandit
black
blinker
bqplot
cachetools
clickclick
cloudpickle
curljson
cvxopt
dask
email-validator
fakeredis
filechunkio
flask-compress
flask-socketio
future
gevent
gpg
grip
gunicorn
h5py
httpie
httpx
importlib-resources
ipdb
ipyleaflet
ipympl
ipyvolume
ipyvuetify
lxml
mgzip
minio
mocket
neovim
newrelic
numba
pathlib
ped
pendulum
pgcli
pip-chill
pip-conflict-checker
pipdeptree
pook
pre-commit
progressbar2
psutil
psycopg2-binary
pyarrow
pylint
pypdf2
pysnooper
pyte
pytest-pudb
python-json-logger
python-rapidjson
qtconsole
raven
retry
s3fs
sklearn
sphinx
swagger-spec-validator
thrift
toolz
wtforms
youtube-dl
