# pip-chill --no-version > python/requirements-mac.txt
#-
#-re-commit

# vim
pynvim
neovim
jedi
ped

#debugging
pudb
ipdb
ipython

# Math
pandas
numpy

# CLI tools
curljson
youtube-dl
httpie
gunicorn

# Project
pgcli
awscli
flake8
gevent
mocket
pook
pre-commit
flask
sqlalchemy
django
fakeredis

# Misc
autopep8
awscli
boto
celery
cmakelint
crypto
curljson
dephell
docker-compose
fakeredis
fastapi
ffmpeg
figlet
google-api-core
google-api-python-client
google-auth-httplib2
graphviz
gunicorn
html5lib
httpie
imap-tools
ipdb
jedi
jedi-language-server
keyring
lookatme
lookatme.contrib.render
moto
moz-sql-parser
msgpack
neovim
nodeenv
partd
ped
pendulum
pgcli
pip-chill
pipdeptree
pipx
pook
pre-commit
premailer
pudb
pygls
pylint
pyls
pyls-flake8
pynvim
pyppeteer
pyright
pysnooper
pytest
python-gnupg
python-language-server
python-lsp-server
snowflake-sqlalchemy
sqlite-web
tencentcloud-sdk-python
tldextract
tldr
typescript
uvicorn
vim-vint
virtualenv
visidata
watchdog
xlrd
yapf
you-get
youtube-dl
