absl-py==0.9.0
aiohttp==3.5.1
appnope==0.1.0
asn1crypto==0.24.0
astor==0.8.1
astroid==2.0
async-timeout==3.0.1
attrs==18.2.0
Authlib==0.10
Automat==0.7.0
autopep8==1.5
awscli==1.16.263
backcall==0.1.0
bcrypt==3.1.7
boto==2.49.0
botocore==1.12.253
cachetools==4.0.0
certifi==2018.11.29
cffi==1.12.1
chardet==3.0.4
Click==7.0
colorama==0.4.1
constantly==15.1.0
cryptography==2.5
cssselect==1.0.3
cvxopt==1.2.4
cvxpy==1.0.25
decorator==4.3.2
dill==0.3.1.1
docopt==0.6.2
docutils==0.14
ecos==2.0.7.post1
entrypoints==0.3
fabric==2.5.0
fastparquet==0.3.2
flake8==3.7.7
Flask==1.1.1
Flask-Compress==1.4.0
Flask-SocketIO==2.9.6
future==0.18.2
gast==0.2.2
gevent==1.4.0
google-auth==1.11.0
google-auth-oauthlib==0.4.1
google-pasta==0.1.8
gpg==1.13.0
greenlet==0.4.15
grip==4.5.2
grpcio==1.26.0
gunicorn==20.0.4
h5py==2.10.0
hyperlink==18.0.0
idna==2.8
incremental==17.5.0
invoke==1.3.0
ipdb==0.12.2
ipykernel==5.1.0
ipython==7.2.0
ipython-genutils==0.2.0
isort==4.3.4
itsdangerous==1.1.0
jedi==0.13.2
Jinja2==2.11.1
jmespath==0.9.4
joblib==0.14.1
jupyter-client==5.2.4
jupyter-core==4.4.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
lazy-object-proxy==1.3.1
llvmlite==0.31.0
lxml==4.2.5
Markdown==3.0.1
MarkupSafe==1.0
mccabe==0.6.1
mgzip==0.1.0
msgpack==0.6.1
multidict==4.5.2
multiprocess==0.70.9
neovim==0.3.1
numba==0.48.0
numexpr==2.7.1
numpy==1.17.2
oauthlib==3.1.0
opt-einsum==3.1.0
osqp==0.6.1
packaging==17.1
pandas==0.25.1
paramiko==2.6.0
parsel==1.5.1
parso==0.3.3
path-and-address==2.0.1
ped==2.0.1
pexpect==4.6.0
pickleshare==0.7.5
prettytable==0.7.2
prompt-toolkit==2.0.8
protobuf==3.11.2
psutil==5.5.0
ptyprocess==0.6.0
pudb==2019.2
py==1.8.0
pyarrow==0.15.1
pyasn1==0.4.5
pyasn1-modules==0.2.4
pycodestyle==2.5.0
pycparser==2.19
PyDispatcher==2.0.5
pyflakes==2.1.1
Pygments==2.3.1
PyHamcrest==1.9.0
pylint==2.0.0
pymongo==3.7.2
PyNaCl==1.3.0
pynvim==0.3.2
pyOpenSSL==19.0.0
pyparsing==2.2.0
PyPDF2==1.26.0
PySocks==1.7.1
pyte==0.8.0
python-dateutil==2.8.0
python-engineio==3.3.0
python-slugify==4.0.0
python-socketio==3.1.1
pytz==2019.3
PyYAML==5.1.2
pyzmq==17.1.2
queuelib==1.5.0
requests==2.21.0
requests-oauthlib==1.3.0
retry==0.9.2
rsa==3.4.2
s3transfer==0.2.1
scikit-learn==0.22.1
scipy==1.4.1
Scrapy==1.6.0
scs==2.1.1.post2
service-identity==18.1.0
six==1.14.0
sklearn==0.0
spotify==0.1.9
spotipy==2.4.4
SQLAlchemy==1.2.17
tables==3.6.1
tccli==3.0.132.1
tencentcloud-sdk-python==3.0.132
tensorboard==2.1.0
tensorflow==2.1.0
tensorflow-estimator==2.1.0
termcolor==1.1.0
text-unidecode==1.3
thefuck==3.28
thrift==0.13.0
tornado==5.1.1
traitlets==4.3.2
Twisted==19.7.0
ujson==1.35
urllib3==1.24.1
urwid==2.1.0
w3lib==1.20.0
wcwidth==0.1.7
Werkzeug==1.0.0
wrapt==1.11.2
xmltodict==0.11.0
yarl==1.3.0
you-get==0.4.1355
youtube-dl==2019.6.27
zope.interface==4.6.0
