# pip-chill --no-version > python/requirements-mac.txt
#-
#-re-commit

# vim
pynvim
neovim
jedi
ped

#debugging
pudb
ipdb
ipython

# Math
pandas
numpy

# CLI tools
curljson
youtube-dl
httpie
gunicorn

# Project
pgcli
awscli
flake8
gevent
mocket
pook
pre-commit
flask
sqlalchemy
django
fakeredis
