# pip-chill --no-version > python/requirements-mac.txt
#-
#-re-commit

pudb
ipdb
ipython
pandas
numpy
ped
pgcli
awscli
flake8
pynvim
neovim
jedi
curljson
gevent
gunicorn
mocket
neovim
pook
pre-commit
youtube-dl
flask
sqlalchemy
django
fakeredis
httpie
